> 12/04/2021.
>
> -- <cite>Melchiades Blanco Junior</cite>

# Manipulação e Agregação de Dados - Exercícios

Resolva os exercícios propostos abaixo. Os exercícios usam um dataset de reclamações registradas por cidadãos. O detaset foi derivado de dados do [Portal de Dados Abertos da Prefeitura de Curitiba](https://www.curitiba.pr.gov.br/DADOSABERTOS/).

## Leitura e análise inicial dos dados

Inicie um DataFrame a partir do arquivo `2017-02-01_156_-_Base_de_Dados_sample.csv`. 

**Dica:** Caso o arquivo não seja separado por vírgulas, o Pandas não conseguirá reconhecer os campos adequadamente. Você precisará fornecer o parâmetro `sep=';'` para indicar o separador correto (neste caso, o `;`).

**Dica:** Aplicativos modernos tendem a armazenar arquivos no formato UTF-8, mas é comum encontrar arquivos codificados em outros formatos. Caso você tenha problemas para ler o arquivo, utilize o parâmetro `encoding='latin-1'` para selecionar o encoding correto (*latin-1* neste exemplo).

In [207]:
# Resposta:
import pandas as pd

df_bds = pd.read_csv("../data/2017-02-01_156_-_Base_de_Dados_sample.csv", sep=';', encoding='latin-1',  header='infer')
df_bds = df_bds.set_index('SOLICITACAO')

Visualize algumas linhas de dados:

In [208]:
# Resposta:
df_bds.sample(n=10)

,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
SOLICITACAO,,,,,,,,,,,,,,,,,,,
6677583,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,17/11/2016,12:24:44,COLETA,RESÍDUOS VEGETAIS DE JARDIM,COLETA - RESÍDUOS VEGETAIS DE JARDIM,"PADRE DEHON, 3577",BOQUEIRAO,Unidade Regional Boqueirao,EMAIL,CIENTE DOS PROCEDIMENTOS.,F,BOQUEIRAO,Unidade Regional Boqueirao,13/03/1980,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
6660390,RECLAMAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,01/11/2016,19:30:45,UNIDADE DE PRONTO ATENDIMENTO,DEMORA NO ATENDIMENTO,UNIDADE DE PRONTO ATENDIMENTO - DEMORA NO ATEN...,"CARLOS KLEMTZ, 0",FAZENDINHA,Unidade Regional Portao,EMAIL,NaN,F,CIDADE INDUSTRIAL,Unidade Regional CIC,30/01/1982,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,USUÁRIO ATENDIDO ÁS 17:24 NA CLASSIFICAÇÃO DE ...
6698571,INFORMAÇÃO,SECRETARIA MUNICIPAL DA SAÚDE,05/12/2016,10:52:33,CRM-AF/SMS,RECURSOS MATERIAIS - MEDICAMENTOS,CRM-AF/SMS - RECURSOS MATERIAIS - MEDICAMENTOS,"ROMEU BACH, 20",BOQUEIRAO,Unidade Regional Boqueirao,NENHUM,NaN,F,BOQUEIRAO,Unidade Regional Boqueirao,29/01/1947,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,CARBONATO DE CÁLCIO 500 MG + VITAMINA D 400 UI...
6664800,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,06/11/2016,19:23:57,TRÂNSITO,VEÍCULO ESTACIONADO EM HORÁRIO/LOCAL PROIBIDO,TRÂNSITO - VEÍCULO ESTACIONADO EM HORÁRIO/LOCA...,"ENGENHEIRO EDUARDO AFONSO NADOLNY, 881",CIDADE INDUSTRIAL,Unidade Regional CIC,EMAIL,INFORMA QUE SE TRATA DE UM LOCAL EXCLUSIVO PAR...,F,CIDADE INDUSTRIAL,Unidade Regional CIC,25/12/1981,CIDADÃO,SECRETARIA MUNICIPAL DE TRÂNSITO,Informamos que o atendimento aos pedidos para ...
6713563,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,19/12/2016,09:50:12,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"INACIO LUSTOSA, 0",SAO FRANCISCO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,F,SAO FRANCISCO,Unidade Regional Matriz,15/08/1976,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,01 - Abordagem realizada. Pessoa foi encaminha...
6719364,RECLAMAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,28/12/2016,11:51:54,UNIDADE DE PRONTO ATENDIMENTO,DEMORA NO ATENDIMENTO,UNIDADE DE PRONTO ATENDIMENTO - DEMORA NO ATEN...,"PARANÁ, 3654",BACACHERI,Unidade Regional Boa Vista,TELEFONE,NaN,F,SANTA CANDIDA,Unidade Regional Boa Vista,09/12/1976,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,Contato no dia 28/12/2016. Informo que tivemos...
6666919,RECLAMAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,08/11/2016,09:06:50,POSTO DE SAÚDE,FLUXO DE ATENDIMENTO,POSTO DE SAÚDE - FLUXO DE ATENDIMENTO,"ARNAUD FERREIRA VELLOSO, 200",CIDADE INDUSTRIAL,Unidade Regional CIC,TELEFONE,NaN,F,CIDADE INDUSTRIAL,Unidade Regional CIC,26/02/1952,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,REALIZADO CONTATO TELEFONICO. EXPLICO A SRA MA...
6714811,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,20/12/2016,13:58:48,DISQUE SOLIDARIEDADE,DOAÇÕES,DISQUE SOLIDARIEDADE - DOAÇÕES,"JOAO RODOLFO SCHLENKER, 359",AGUA VERDE,Unidade Regional Portao,TELEFONE,NaN,F,AGUA VERDE,Unidade Regional Portao,18/05/1964,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Solicitação atendida.
6699998,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,06/12/2016,08:58:45,COLETA,RESÍDUOS VEGETAIS DE JARDIM,COLETA - RESÍDUOS VEGETAIS DE JARDIM,"PROFESSOR BRAZILIO OVIDIO DA COSTA, 1556",SANTA QUITERIA,Unidade Regional Portao,EMAIL,NaN,M,SANTA QUITERIA,Unidade Regional Portao,28/10/1951,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
6719375,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,28/12/2016,12:05:39,FISCALIZAÇÃO DE TERRENOS BALDIOS OU EDIFICADOS,LIMPEZA,FISCALIZAÇÃO DE TERRENOS BALDIOS OU EDIFICADOS...,"PROFESSOR FRANCISCO MENDES, 203",UBERABA,Unidade Regional Cajuru,TELEFONE,NÃO SOUBE INFORMAR COMPLEMENTO DE BAIRRO.,M,BOQUEIRAO,Unidade Regional Boqueirao,09/03/1975,CIDADÃO,SECRETARIA MUNICIPAL DO URBANISMO,SEGUE AÇÃO FISCAL ATRAVÉS DO PROCESSO Nº 34-00...

Use o método `df.describe(include="all")` para exibir informações sobre as colunas.

In [209]:
# Resposta:
df_bds.describe(include="all")

,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
count,7013,7013,7013,7013,7013,7013,7013,7013,7013,7011,7013,3786,7013,6897,6757,6889,7013,7013,7010
unique,7,5,92,6438,148,388,482,5612,75,10,4,2585,2,172,10,5398,1,23,3154
top,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,05/12/2016,11:52:23,COLETA,MANUTENÇÃO DE LUMINÁRIAS,ILUMINAÇÃO PÚBLICA - MANUTENÇÃO DE LUMINÁRIAS,"PRESIDENTE AFFONSO CAMARGO, 330",CENTRO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,F,CIDADE INDUSTRIAL,Unidade Regional Boa Vista,22/06/1962,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
freq,5812,6649,163,4,1633,969,969,39,436,1572,3750,88,3613,483,1130,73,7013,2121,1334

Crie um novo DataFrame chamado `df_elogios` contendo apenas as linhas cujos valores na culuna `TIPO` são iguais a 'ELOGIO'. Este DataFrame deve ter as colunas TIPO, ASSUNTO, e BAIRRO_CIDADAO.

In [210]:
# Resposta:
df_elogios = df_bds[df_bds['TIPO'] == 'ELOGIO']
df_elogios = df_elogios[['TIPO', 'ASSUNTO', 'BAIRRO_CIDADAO']]
df_elogios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 6660527 to 6683174
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TIPO            99 non-null     object
 1   ASSUNTO         99 non-null     object
 2   BAIRRO_CIDADAO  99 non-null     object
dtypes: object(3)
memory usage: 3.1+ KB

Quais são os 5 bairros com mais elogios? Agrupe pelo `BAIRRO_CIDADAO` e ordene o resultado para responder.

In [211]:
# Resposta:
df_elogios_top5 = df_elogios.groupby(['BAIRRO_CIDADAO']).count()
df_elogios_top5 = df_elogios_top5.sort_values(by=['TIPO'], ascending=False).head()
df_elogios_top5['TIPO']

BAIRRO_CIDADAO
SITIO CERCADO        12
CIDADE INDUSTRIAL    12
CAJURU               11
BOQUEIRAO             6
BAIRRO ALTO           5
Name: TIPO, dtype: int64

Crie dois novos DataFrames, um contendo a as linhas de reclamações de pessoas do sexo masculino e outra do sexo feminino. Use estes DataFrames para responder:

Qual é a proporção de reclamações entre homens e mulhores? (total de reclamações de homens dividido pelo total de reclamações de mulheres)

In [212]:
# Resposta:

df_reclamacoes_m = df_bds[(df_bds['TIPO'] == 'RECLAMAÇÃO') & (df_bds['SEXO'] == 'M')]
df_reclamacoes_f = df_bds[(df_bds['TIPO'] == 'RECLAMAÇÃO') & (df_bds['SEXO'] == 'F')]

proporcao_reclamacao_mf = df_reclamacoes_m['TIPO'].count() / df_reclamacoes_f['TIPO'].count()

print(proporcao_reclamacao_mf)

0.5081081081081081

Concatene os dois DataFrames criados acima para criar um DataFrame chamado `df_todos`. Verifique se este DataFrame tem o mesmo núimero de linhas do DataFrame lido do CSV.

In [213]:
# Resposta:
df_todos = pd.concat([df_reclamacoes_m, df_reclamacoes_f])

#size counts NaNs while count does not

if df_bds['TIPO'].count() == df_todos['TIPO'].count():
    print('Sim, possuem o mesmo numero de linhas!')
else:
    print('Não possuem o mesmo numero de linhas\ndf_bds: {}\ndf_todos: {}'.format(df_bds['TIPO'].count() ,df_todos['TIPO'].count()))

Não possuem o mesmo numero de linhas
df_bds: 7013
df_todos: 837

Crie um novo DataFrame chamado `df_sexo` contendo a contagem de reclamações para cada sexo. A coluna com a contagem deve se chamar `contagem`.

In [214]:
# Resposta:

####
# Conforme orientação do professor (forum), para que esta parte do exericio nao fique igual a anterior estarei assumindo que
# o problema solicita a contagem de 'solicitações' (registros) ao invés de reclamações (TIPO=RECLAMACAO)
####

df_sexo = df_bds.groupby(['SEXO'])['SEXO'].size().reset_index(name = 'CONTAGEM')

df_sexo

  SEXO  CONTAGEM
0    F      3613
1    M      3400

Crie um novo DataFrame chamado `df_sexo_tipo` contendo a contagem de reclamações para cada sexo e tipo. A coluna com a contagem deve se chamar `total`.

In [215]:
# Resposta:

df_sexo_tipo = df_bds.groupby(['SEXO', 'TIPO']).size().reset_index(name = 'TOTAL')

df_sexo_tipo

   SEXO         TIPO  TOTAL
0     F     DENÚNCIA     31
1     F       ELOGIO     65
2     F   INFORMAÇÃO     25
3     F   RECADASTRO     79
4     F   RECLAMAÇÃO    555
5     F  SOLICITAÇÃO   2851
6     F     SUGESTÃO      7
7     M     DENÚNCIA     13
8     M       ELOGIO     34
9     M   INFORMAÇÃO     11
10    M   RECADASTRO     91
11    M   RECLAMAÇÃO    282
12    M  SOLICITAÇÃO   2961
13    M     SUGESTÃO      8

Faça uma junção dos DataFrames `df_sexo, df_sexo_tipo` para criar um novo DataFrame chamado `df_juncao` contendo as contagens por sexo e também por sexo/tipo.

In [216]:
# Resposta:

df_juncao = pd.merge(df_sexo, df_sexo_tipo)

df_juncao

   SEXO  CONTAGEM         TIPO  TOTAL
0     F      3613     DENÚNCIA     31
1     F      3613       ELOGIO     65
2     F      3613   INFORMAÇÃO     25
3     F      3613   RECADASTRO     79
4     F      3613   RECLAMAÇÃO    555
5     F      3613  SOLICITAÇÃO   2851
6     F      3613     SUGESTÃO      7
7     M      3400     DENÚNCIA     13
8     M      3400       ELOGIO     34
9     M      3400   INFORMAÇÃO     11
10    M      3400   RECADASTRO     91
11    M      3400   RECLAMAÇÃO    282
12    M      3400  SOLICITAÇÃO   2961
13    M      3400     SUGESTÃO      8

Crie uma nova coluna no DataFrame `df_juncao` chamada `proporcao` contendo a porcentagem de homens e mulheres que fizeram cada tipo de reclamação. Responda: qual sexo faz mais elogios? Qual faz mais solicitações? Qual faz mais reclamações?

In [217]:
df_juncao['PROPORCAO'] = ((df_juncao['TOTAL'] / df_juncao['TOTAL'].sum()) * 100 ).map("{:,.2f}%".format)
#.astype(str) + '%'

df_juncao

   SEXO  CONTAGEM         TIPO  TOTAL PROPORCAO
0     F      3613     DENÚNCIA     31     0.44%
1     F      3613       ELOGIO     65     0.93%
2     F      3613   INFORMAÇÃO     25     0.36%
3     F      3613   RECADASTRO     79     1.13%
4     F      3613   RECLAMAÇÃO    555     7.91%
5     F      3613  SOLICITAÇÃO   2851    40.65%
6     F      3613     SUGESTÃO      7     0.10%
7     M      3400     DENÚNCIA     13     0.19%
8     M      3400       ELOGIO     34     0.48%
9     M      3400   INFORMAÇÃO     11     0.16%
10    M      3400   RECADASTRO     91     1.30%
11    M      3400   RECLAMAÇÃO    282     4.02%
12    M      3400  SOLICITAÇÃO   2961    42.22%
13    M      3400     SUGESTÃO      8     0.11%

In [218]:
#Resposta
#Qual sexo faz mais elogios?
a = 'ELOGIO'
m = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'M')]['TOTAL'])
f = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'F')]['TOTAL'])

if m > f:
    print ('Homens fazem mais {} do que as mulheres!'.format(a))
elif m == f:
    print ('Ambos fazem a mesma quantidade de {}!'.format(a))
else:
    print ('Mulheres fazem mais {} do que os homens!'.format(a))

Mulheres fazem mais ELOGIO do que os homens!

In [219]:
#Resposta
#Qual faz mais solicitações?
a = 'SOLICITAÇÃO'
m = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'M')]['TOTAL'])
f = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'F')]['TOTAL'])

if m > f:
    print ('Homens fazem mais {} do que as mulheres!'.format(a))
elif m == f:
    print ('Ambos fazem a mesma quantidade de {}!'.format(a))
else:
    print ('Mulheres fazem mais {} do que os homens!'.format(a))

Homens fazem mais SOLICITAÇÃO do que as mulheres!

In [220]:
#Resposta
#Qual faz mais reclamações?
a = 'RECLAMAÇÃO'
m = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'M')]['TOTAL'])
f = int(df_juncao[(df_juncao['TIPO'] == a) & (df_juncao['SEXO'] == 'F')]['TOTAL'])

if m > f:
    print ('Homens fazem mais {} do que as mulheres!'.format(a))
elif m == f:
    print ('Ambos fazem a mesma quantidade de {}!'.format(a))
else:
    print ('Mulheres fazem mais {} do que os homens!'.format(a))

Mulheres fazem mais RECLAMAÇÃO do que os homens!