# Introdução a Pandas

Pandas é uma biblioteca para a manipulação de DataFrames. DataFrames são dados estruturados em formato de planilha. Quem está familiarizado com o Excel pode perceber que o Pandas faz coisas parecidas, como criação de novas colunas usando fórmulas, ordenação de valores, cálculo de estatísticas, plotagem de gráficos etc. A vantagem do Pandas é poder fazer isto tudo de uma forma programável, que se adequa até mesmo a grandes quantidades de dados.

Para usar o Pandas, o primeiro passo é importar a biblioteca. Aqui usamos o "apelido" *pd* para nos referenciarmos à biblioteca nas próximas células. Execute todas as células de código do tutorial para ver o resultado.

In [2]:
#importing libraries
import pandas as pd

#%matplotlib inline

## Lendo dados de um arquivo

Muitos dados são gravados em arquivos CSV (Comma Separated Values, ou Valores Separados por Vírgula). É muito fácil importar dados em CSV usando o Pandas, como mostra a célula abaixo. Estes dados também poderiam vir de uma planilha do Excel ou de um banco de dados, dependendo do caso.

Nos comandos abaixo, o método *read_csv* lê os dados do arquivo *aluguel.csv* que se encontra na pasta *data*. Os dados são atribuídos para o DataFrame que chamamos de df (mas poderíamos usar qualquer outro nome). Para exibir o conteúdo do DataFrame, basta escrever o nome na última linha da célula.

O DataFrame carregado contém dados de apartamentos para alugar na cidade de Curitiba.

In [3]:
# lê o arquivo CSV
df = pd.read_csv('../data/aluguel.csv')

# mostra o conteúdo do DataFrame
df

,codigo,endereco,quartos,suite,area,vaga,aluguel,condominio,data
0,34,Rua Desembargador Westphalen,2,0,90,0,900,371,11/10/17
1,167,Rua Jose Loureiro,2,0,64,0,650,428,15/07/17
2,6784,Rua Jose Loureiro,2,0,81,0,1100,400,23/08/17
3,82,Rua Lourenço Pinto,2,0,50,0,1350,300,19/09/17
4,2970,Rua Lourenço Pinto,2,0,63,0,1300,300,05/08/17
5,34197,Alameda Doutor Muricy,2,0,80,1,900,410,23/10/17
6,5072,Alameda Doutor Muricy,2,0,84,0,1100,382,02/09/17
7,469,Rua Desembargador Westphalen,1,0,30,0,550,210,03/07/17
8,24,Rua Desembargador Westphalen,1,0,60,1,800,120,30/09/17
9,74,Avenida Visconde de Guarapuava,2,1,132,1,1800,520,12/10/17
10,9850,Avenida Visconde de Guarapuava,1,0,64,1,600,326,15/07/17
11,82343,Avenida Sete de Setembro,1,0,45,0,750,420,11/10/17
12,20802,Avenida Sete de Setembro,1,0,47,0,600,405,27/07/17
13,568,Rua Alferes Poli,1,0,43,0,600,330,12/08/17
14,294579,Avenida Silva Jardim,1,0,36,0,550,350,01/10/17
15,59375,Avenida Silva Jardim,1,0,33,0,560,305,11/09/17
16,80,Rua Desembargador Westphalen,1,0,80,1,900,350,12/08/17
17,66490,Rua Desembargador Westphalen,1,0,80,1,1100,350,29/08/17
18,2381,Rua Rockefeller,2,0,54,0,900,240,19/09/17
19,44803,Rua Rockefeller,2,0,77,1,950,200,19/07/17

Para saber o tamanho do DataFrame, podemos usar a função `len()`:

In [ ]:
print("Tamanho do DataFrame: ", len(df))

## Manipulando o DataFrame

Podemos manipular o DataFrame de diversas formas. É possível criar novos DataFrames com subconjuntos de colunas do DataFrame original. Abaixo um DataFrame chamado df_small é criado com o conteúdo das colunas aluguel e condominio.

In [ ]:
df_small = df[['aluguel', 'condominio']]

df_small

Também é possível selecionar subconjuntos das linhas do DataFrame. Abaixo selecionamos apenas as linhas representando apartamentos de área maior que $50m^2$.

In [ ]:
df[df.area > 50]

Podemos também transpor (rotacionar) um DataFrame:

In [ ]:
df.T

Perceba que o comando acima não alterou o DataFrame original, como pode ser visto abaixo. Ele apenas retornou um novo DataFrame. Para alterar um DataFrame, em geral, você precisa atribuir o resultado do comando à variável original. Por exemplo, usando df = df.T

In [ ]:
df

É possível criar novas colunas a partir de outras colunas do DataFrame. Abaixo criamos uma coluna chamada *total* contendo o valor do aluguel somado ao condomínio.

In [ ]:
df['total'] = df['aluguel'] + df['condominio']

df

### Exercício

Suponha que o seu orçamento para alugar um apartamento é de R$ 900. Crie uma nova coluna com o nome "diferença" que contenha o valor que irá sobrar/faltar do seu orçamento de acordo com o valor total do apartamento.

## Analisando dados do DataFrame

Os DataFrames possuem um método chamado *describe* que exibe estatísticas sobre as colunas do DataFrame. Por exemplo, como pode ser visto abaixo, o valor máximo para o condomínio é 520, enquanto a média é 335.85.

In [ ]:
df.describe()

DataFrames também suportam a plotagem de gráficos. Por exemplo, abaixo temos Box Plots representando a distribuição dos valores de aluguel e condomínio. Mais detalhes sobre plotagem de gráficos serão fornecidos em um outro momento.

In [ ]:
df_small.plot.box()

É possível calcular a média de uma coluna:

In [ ]:
df['aluguel'].mean()

E várias outras estatísticas:

In [ ]:
print(df['aluguel'].mean(), df['aluguel'].min(), df['aluguel'].max())

Para ordenar um DataFrame baseado em valores de uma coluna, use:

In [ ]:
df.sort_values('total')